.OrderList-Wrapper{
  max-width: 1260px;
  margin : 0 auto;
}
.OrderList-Header-Wrapper{
  margin-bottom: 30px;
}
.OrderList-Header-Text{
  font-size : 16px;
  font-weight : bold;
  border-left : 3px solid rgb(74, 82, 98);
  padding-left: 7px;
}
.OrderList-Body-Function-Wrapper{
  display: grid;
  border : none;
  grid-template-columns: 200px 200px 1fr;
  height : 40px;
  border-bottom: 1px solid hsl(0, 0%, 36%);
  margin-bottom : 20px;
}
.OrderList-Body-Function__Item{
  width : 100%;
  height : 100%;
  border : 1px solid hsl(0, 0%, 36%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  cursor: pointer;
}
.OrderList-Body-Function__Item-Text{
  color : hsl(0, 0%, 36%);
  font-size: 12px;
  font-weight: normal;
}
.OrderList-Body-Function__Item-Text:hover{
  text-decoration: underline;
}
.--Selected{
  background-color :hsl(0, 0%, 36%);
  color : white;
  
}
.--Selected span{
  color : white;
  font-weight: bold;
}

.OrderList-Body-Config-Wrapper{
  border : 1px solid #ccc;;
  padding : 20px;
  display: grid;
  grid-template-columns: auto auto auto auto 1fr;
  grid-column-gap: 20px;
}
.input-box{
  position: relative;
}
.mx-20{
  margin : 0 10px;
}
.react-datepicker__input-container input{
  text-align: center;
}
.Calendar-Icon{
  font-size : 14px;
  position: absolute;
  z-index: 2;
  color: hsl(2, 100%, 76%);
}
.ci_1{
  top : 6px;
  left : 113px;
}
.ci_2{
  top : 6px;
  left : 274px;
}
#QUERY_BUTTON{
  background-color : hsl(222, 16%, 34%);
  color : white;
  outline: none;
  border : 1px solid black;
  width : 50px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  padding : 2px;
}
#QUERY_BUTTON2{
  margin-left: -15px;
  background-color :hsl(222, 16%, 34%);
  color : white;
  outline: none;
  border : 1px solid black;
  width : auto;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  padding : 2px 5px;
} 
.OrderList-Body-Description-Wrapper{
  margin-top : 5px;
  margin-bottom: 30px;
}
.OrderList-Body-Description-Text{
  font-size: 13px;
  color :  hsl(222, 16%, 34%);
}
.OrderList-ListHeader-Wrapper{
  background-color: hsl(0, 0%, 95%);
  padding : 10px 0px;
  border : none;
  display: grid;
  border-top : 1px solid #ccc;
  border-bottom : 2px solid #ccc;
  grid-template-columns: 100px 1fr 135px 135px 135px 80px 80px;
}
.OrderList-ListHeader-Wrapper div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.OrderList-ListHeader-Wrapper div span{
  font-size: 14px;
  font-weight: bold;
}
.OrderList-ListBody-Wrapper{
  padding : 10px 0px;
  border : none;
  display: grid;
  border-bottom : 1px solid #ccc;
  grid-template-columns: 100px 1fr 135px 135px 135px 80px 80px;
}
.OrderList-ListBody-Wrapper div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.OrderList-ListBody-Wrapper div span{
  font-size: 14px;
}
.Delivery-Number{
  color : hsl(201, 98%, 42%);
  font-weight: bold;
  text-decoration: underline;
}
.Order-Title:hover{
  text-decoration: underline;
  cursor: pointer;
}
.Delivery-Status{
  
}
.--Before-Shipping{
  color : hsl(200, 18%, 26%);
}
.--After-Shipping{
  color : hsl(206, 62%, 47%);
}
.--Shipping{
  color : hsl(348, 100%, 55%);
}
.Cancel-Btn{
  outline: none;
  width : 50%;
}
.RollBack-Btn{
  outline: none;
}
.Modal-Wrapper{
  width : 100%;
  height : 100%;
  background-color: rgba(66, 66, 66, 0.5);
  position: absolute;
  z-index : 100;
  top : 0;
  bottom : 0;
  left : 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
}
.--Hide{
  display: none;
}
.--Show{

}
.Modal-Container{

  height : auto;
  max-width: 1260px;
  margin : 0 auto;
  width : 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgb(33, 33, 33);
  padding : 20px;

}
.Modal-ListHeader-Wrapper{
  
  background-color: hsl(0, 0%, 95%);
  padding : 10px 0px;
  border : none;
  display: grid;
  border-top : 1px solid #ccc;
  border-bottom : 2px solid #ccc;
  grid-template-columns: 1fr 250px 140px 100px 100px 200px;

}
.Modal-ListHeader-Wrapper div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal-ListHeader-Wrapper div span{
  font-size: 14px;
  font-weight: bold;
}
.Modal-ListBody-Wrapper{
  padding : 10px 0px;
  border : none;
  display: grid;
  border-bottom : 1px solid #ccc;
  grid-template-columns: 1fr 250px 140px 100px 100px 200px;
  font-weight: bold;
}
.--Bg-WhiteBlue{
  background-color: rgb(227, 242, 253);
}
.Modal-ListBody-Wrapper div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal-ListBody-Wrapper div span{
  font-size: 14px;
}
.Modal-ListBody-Wrapper div img{
  border-radius: 50%;
  width : 70px;
  height : 70px;
  border : 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
}
.Modal_Inner_Body{
  min-height: 400px;
  height : auto;
}
.Modal_Controller_Wrapper{
  border-top : 1px solid #ccc;
  height : 60px;
  padding-top  : 20px;
  display: grid;
  grid-template-columns: 140px 1fr 200px;
}
.Modal_Controller__Item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Modal_Controller__Item__Button{
  width : 100%;
  height : 100%;
  outline: none;
  border-radius: 8px;
  border: 1px solid hsl(231, 99%, 62%);
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}
.Modal_Controller__Item__Button:hover{

  box-shadow: 2px 2px 2px hsl(0, 0%, 26%);
  transition: all 300ms ease;
  color : white;
  background-color: hsl(231, 99%, 62%);

}
.Modal_Controller_Sum{
  font-weight: bold;
}


@media screen and (max-width: 1047px){

  .Modal-ListHeader-Wrapper{

    grid-template-columns: 1fr 1fr 40px 60px 60px 120px;
  
  }

  .Modal-ListBody-Wrapper{

    grid-template-columns: 1fr 1fr 40px 60px 60px 120px;

  }

}

@media screen and (max-width: 787px){

  .OrderList-ListHeader-Wrapper{
    
    grid-template-columns: 1fr 100px 1fr 1fr 70px 1fr 1fr;
  }
  .OrderList-ListHeader-Wrapper div span{
    font-size: 10px;
    font-weight: bold;
  }

  .OrderList-ListBody-Wrapper{
   
    grid-template-columns: 1fr 100px 1fr 1fr 70px 1fr 1fr;
  }
  .OrderList-ListBody-Wrapper div span{
    font-size: 10px;
  }

  .Modal-ListHeader-Wrapper{

    grid-template-columns: 100px 60px 1fr 1fr 1.5fr 1.5fr;
  
  }

  .Modal-ListBody-Wrapper{

    grid-template-columns: 100px 60px 1fr 1fr 1.5fr 1.5fr;

  }
  .OrderList-Body-Config-Wrapper{

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 27px 27px;

  }
  #root > div > div.OrderList-Wrapper > div.OrderList-Body-Config-Wrapper > div:nth-child(1) > select{
    width : 100%;
  }
  #QUERY_BUTTON{
    width : 100%;
  }
  #QUERY_BUTTON2{
    width : 100%;
    margin : 0;
  }
  .input-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .Modal-ListBody-Wrapper div {
    font-size: 10px;
  }
  .Modal-ListHeader-Wrapper div span{
    font-size: 10px;
  }

  .Modal-ListBody-Wrapper div img{
    
    width : 40px;
    height : 40px;
   
  }

}

@media screen and (max-width : 500px){

  .Modal-Wrapper{
    align-items: flex-start;
    padding : 0;
  }
  .Modal-Container{

    height : 100%;
    max-width: 1260px;
    margin : 0 auto;
    width : 100%;
    background-color: white;
    border-radius: 0px;
    box-shadow: 3px 3px 3px rgb(33, 33, 33);
    padding : 20px;
  
  }

}