@font-face{
  font-display: block; 
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Medium-Hestia.woff") format("woff");
  font-weight: normal;
}
@font-face{
  font-display: block;
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Bold-Hestia.woff") format("woff");
  font-weight: bold;
}
@font-face{
  font-display: block;
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Light-Hestia.woff") format("woff");
  font-weight: lighter;
}

*{
  box-sizing: border-box;
  font-family: "NotoSansKR",sans-serif;
}
html , body {
  margin : 0;
  padding : 0;
  
}

html {
	position: relative;
    min-height: 100vh;
}
